<h1>Create a new Person</h1>
<hr>
<form asp-action="Create">
    <input type="text name="PersonID" placeholder="Nhập Person ID">
    <input type="text name="FName" placeholder="Nhập Full Name">
    <input type="submit" value="submit"
</form>
<h2>@ViewBag.mg</h2>